body {
  background: #242526 !important;
  color: white !important;
  font-family: "ui-monospace", "SFMono-Regular", "SF Mono", "Menlo", "Consolas",
    "Liberation Mono", monospace !important;
  touch-action: none !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box !important;
}
